<div class="task-app">
    <div class="task-card">
      <h1 class="title">Aplicación de Tareas</h1>
      <p class="description">
        Este proyecto es una aplicación de tareas desarrollada en <strong>Angular 19</strong>,
        que se comunica a través de una <strong>Web API</strong> hecha en <strong>.NET</strong>.
      </p>
      <ul class="features">
        <li>Es necesario registrarse y loguearse para utilizar la aplicación.</li>
        <li>Una vez logueado, puedes:</li>
        <ul>
          <li>Ver tus tareas</li>
          <li>Agregar nuevas tareas</li>
          <li>Editar tareas existentes</li>
          <li>Eliminar tareas</li>
        </ul>
      </ul>
      <a routerLink="/auth/register" class="register-link">Registrarse aquí</a>
    </div>
  </div>