<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="username" required />
      @if (
      registerForm.get('username')?.invalid &&
      registerForm.get('username')?.touched
      ) {
  
      <mat-error>
        {{usernameError()}}
      </mat-error>
      }
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required />
      @if (
      registerForm.get('password')?.invalid &&
      registerForm.get('password')?.touched
      ) {
      <mat-error>
        {{passwordError()}}
      </mat-error>
      }
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
      Iniciar sesión
    </button>
  
  
      <p class="warn">¿Ya tienes una cuenta?  
        <a routerLink="/auth/login">Iniciar Sesion</a>
      </p>
  
  </form>