<nav class="sidenav-container">
  <div class='header-nav'>
    <button mat-icon-button>
      <mat-icon>logout</mat-icon>

    </button>

    <button mat-icon-button>
      <mat-icon> menu </mat-icon>
    </button>
  </div>

  <div class="content-nav">
    <mat-nav-list>
      <a mat-list-item routerLink="today">
        <mat-icon matListItemIcon>event</mat-icon>
        <span matListItemTitle>
          Hoy
        </span>

      </a>


      <a mat-list-item routerLink="all">
        <mat-icon matListItemIcon>list</mat-icon>

        <span matListItemTitle>
          Tareas
        </span>

      </a>
    </mat-nav-list>

    <button mat-raised-button extended (click)="AddTask()">
      <mat-icon>add</mat-icon>
      <span></span>
      Agregar Tarea</button>
  </div>

  <mat-divider></mat-divider>

  <div class="recent-tasks">
    <mat-nav-list>
      @for(task of tasks$ | async; track $index){
        <app-card-task-badge [task]="task"></app-card-task-badge>
      }
    </mat-nav-list>
  </div>
</nav>