$sidenav-bg: #ecf0f1;
$primary-color: #ecf0f1;
$accent-color: #ecf0f1;
$text-color: #000000;

.sidenav-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;

  .header-nav {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    mat-icon {
      color: $text-color;
    }
  }

  .content-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .recent-tasks{
    flex: 1;
  }
}

